* {
  margin: 0;
  padding: 0;
}

body {
  margin: 2% 5% 2% 5%;
}

/* NAVIGATION */

a {
  text-decoration: none;
  color: rgb(150, 70, 0);
}

a:hover {
  color: gray;
}

a:active {
  color: darkgray;
}

nav {
  background-color: rgb(209, 169, 117);
  display: flex;
  padding: 1.5%;
  margin-bottom: 1.5%;
  border-radius: 5px;
}

nav .nav-links {
  flex: 1;
}

nav .nav-link {
  padding-right: 3%;
}

#signout {
  margin-left: 2%;
}

/*BOOK LIST*/

.book-list-container {
  padding: 0 5% 0 5%;
}

.books {
  margin: 1% 1% 1% 1%;
  padding: 2% 1% 2% 1%;
  border-radius: 5px;
  /* border: 1px solid black; */
  background-color: rgb(209, 169, 117);
  display: flex;
}

#book-filter,
#book-search {
  border: none;
  text-decoration: none;
}

.book-filter-input,
.book-search-input {
  width: 85%;
  margin: 0 -4px 0 0;
}

#book-list-heading {
  /* background-color: transparent; */
  border-bottom: 1px solid black;
  position: static;
}

.books span {
  flex: 1;
  text-align: center;
  align-self: center;
}

.books span button {
  margin: 1%;
}

.input-button {
  position: relative;
}

.submit-filter,
.submit-search {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: fit-content;
  border: none;
  background-color: rgb(209, 169, 117);
}
