/* SELECTOR: All */

* {
  margin: 0;
  padding: 0;
}

/* SELECTOR: Body */

body {
  background-color: whitesmoke;
  margin: 1% 5% 5% 5%;
}

/* SELECTORS: by Class */

.book__img {
  width: 75px;
  height: 75px;
}

.delete__button {
  border: none;
}

.edit-emp-field {
  display: inline-flex;
}

.manager__container {
  display: flex;
}

.nav__link {
  padding-right: 5%;
}

.side__nav {
  background-color: rgb(209, 169, 117);
  padding: 1% 3% 1% 1%;
  margin: 0 3% 0 0;
  border-radius: 5px;
}

.side__nav__item {
  display: flex;
  max-width: fit-content;
  padding: 25% 25% 25% 25%;
}
/* SELECTORS: by ID */

#book__table {
  min-width: 70%;
}

#book__table tr {
  text-align: center;
}

#edit__employee__container {
  flex: 1;
}

#login-container,
#edit__employee__container,
#submission__container {
  display: flex;
  justify-content: center;
}

#login-form,
#employee-edit-form,
#submission__form {
  background-color: blanchedalmond;
  text-align: center;
  border-radius: 10px;
  padding: 6%;
  display: inline;
}

#login-username,
#login-password {
  display: flex;
}

#signout {
  margin-left: 2%;
}

#submission__field,
#login__field,
#reset__field {
  display: flex;
}

/* SELECTORS: by Tag */

a {
  text-decoration: none;
  color: rgb(150, 70, 0);
}

a:hover {
  color: gray;
}

a:active {
  color: darkgray;
}

form button {
  padding: 5px;
  border-radius: 2px;
}

form input {
  border: none;
  border-bottom: 1px solid rgb(150, 70, 0);
  background-color: rgb(209, 169, 117);

  margin-left: 5%;
}

form #picture {
  width: 160px;
  font-size: 11px;
}

form input:focus {
  background-color: white;
}

nav {
  background-color: rgb(209, 169, 117);
  display: flex;
  padding: 1.5%;
  margin-bottom: 1.5%;
  border-radius: 5px;
}

nav .nav__links {
  flex: 1;
}

nav #signout {
  /* padding: 3px; */
}

table {
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
}

table caption {
  background-color: rgb(209, 169, 117);
  border-radius: 5px;
  padding: 1% 1% 1% 1%;
}

#table__caption {
  display: flex;
}

#table__sort {
  flex: 1;
}

#table__filter {
  flex: 5;
}

#table__search {
  flex: 1;
}

table,
th,
tr,
td {
  border-collapse: collapse;
}

thead {
  background-color: white;
  height: 10px;
}

tr:nth-child(odd) {
  background-color: rgb(209, 169, 117);
}
