/* SELECTOR: All */

* {
  margin: 10px 20px 0 20px;
  padding: 0;
}

/* SELECTOR: Body */

body {
  background-color: whitesmoke;
}

/* SELECTORS: by Class */

.book__img {
  width: 75px;
  height: 75px;
}

/* SELECTORS: by ID */

#book__table tr {
  text-align: center;
}

.delete__button {
  border: none;
}

#login-container,
#submission__container {
  display: flex;
  justify-content: center;
}

#login-form,
#submission__form {
  background-color: blanchedalmond;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
}

#login-username,
#login-password {
  display: inline-flex;
}

/* SELECTORS: by Tag */

a {
  text-decoration: none;
  color: rgb(150, 70, 0);
}

a:hover {
  color: gray;
}

a:active {
  color: darkgray;
}

form button {
  padding: 5px;
  border-radius: 2px;
}

form input {
  border: none;
  border-bottom: 1px solid rgb(150, 70, 0);
  background-color: rgb(209, 169, 117);
}

form #picture {
  width: 160px;
  font-size: 11px;
}

form input:focus {
  background-color: white;
}

nav {
  background-color: rgb(209, 169, 117);
  margin: 0 0 25px 0;
  padding: 0 0 9px 0;
  display: flex;

  border-radius: 5px;
}

nav .nav__links {
  flex: 1;
}

nav #signout {
  /* padding: 3px; */
}

table {
  margin: auto;
}

table caption {
  background-color: rgb(209, 169, 117);
  border-radius: 5px;
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

#table__caption {
  display: flex;
  margin: 0;
}

#table__sort {
  flex: 1;
  margin: 0;
}

#table__filter {
  flex: 5;
  margin: 0;
}

#table__search {
  flex: 1;
  margin: 0;
}

table,
th,
tr,
td {
  border-collapse: collapse;
  padding: 7px;
}

tr:nth-child(even) {
  background-color: rgb(238, 237, 236);
}
